[submodule "cpg-controller"]
	path = cpg-controller
	url = https://github.com/DavidBlore/honours-project-hexapod
	branch = gecco_paper
[submodule "Hexapod---SUPG"]
	path = supg-controller
	url = https://github.com/Julius-Smith/Hexapod---SUPG
[submodule "GeccoPaper"]
	path = ann-controller
	url = https://github.com/sctmic015/GeccoPaper
