[submodule "cpg-controller"]
	path = cpg-controller
	url = git@github.com:AlePouroullis/CPG_TELO_Hexapod_2024.git
[submodule "ann-controllers"]
	path = ann-controllers
	url = git@github.com:AlePouroullis/ANN_Controllers_TELO_Hexapod_2024.git
[submodule "supg-controller"]
	path = supg-controller
	url = git@github.com:AlePouroullis/SUPG_TELO_Hexapod_2024.git
